/*
 - font size 
 - color of variables
 - responsive
 */
@import "./variables";
@import "./mixins";

// Typography
.heading-1 {
  font-size: 3.125rem; //34px
  font-weight: bold;
  line-height: 2;
  @include mobile() {
    font-size: 2.5rem; //24px
  }
}

.heading-2 {
  font-size: 2.875rem; //30px
  font-weight: 600;
  line-height: 2.8rem;
  @include mobile() {
    font-size: 2.125rem; //18px
  }
}

.heading-3 {
  font-size: 2.5rem; //24px
  font-weight: 500;
  line-height: 2.083; //26px
  @include mobile() {
    font-size: 2.125rem; //18px
  }
}

.heading-4 {
  font-size: 2.25rem; //20px
  line-height: 1.1; //22px
  font-weight: 500;
}
