// breakpoints
$desktop: 1024px;
$tablet: 994px;
$mobile: 600px;
$xs-mobile: 450px;

// colors
$gray: #d9d9d9;
$blue: #1677ff;
$darkblue_1: #001529;
$darkblue_2: #002140;
$black: #212121;
$white: #fff;
$dark-red: #cb0000;
$bg-light-gray: #f3f3f3;
$base-green: #99cc33;

// padding & margin
$space-2xl: 5rem;
$space-xl: 4rem;
$space-lg: 3.2rem;
$space-md: 2.8rem;
$space-sm: 2.4rem;
$space-xs: 2rem;

// heading font size
$heading-2xl: 4.5rem;
$heading-xl: 3.2rem;
$heading-lg: 2.8rem;
$heading-md: 2.4rem;
$heading-sm: 2rem;

// input font size
$text-xl: 1.8rem;
$text-lg: 1.6rem;
$text-sm: 1.4rem;
$text-xs: 1.2rem;
