@import "/style/Modules/typography";

.vehicle_summary {
  padding: $space-sm;
  flex-direction: column;
  display: block;

  .fare_details {
    h5 {
      font-size: $text-xl;
      letter-spacing: 0.1rem;
      margin-bottom: 0;
    }
    .form {
      :global(.ant-select-arrow) {
        color: $base-green;
        font-weight: 500;
      }
      :global(.ant-select-selector) {
        border-radius: 0.2rem;
      }
    }
    .breakup {
      row-gap: 0;
      .price {
        margin-bottom: 0;
        color: $base-text;
        font-weight: 400;
        font-size: $text-sm;
        span {
          font-weight: 500;
        }
      }
      @include tablet {
        display: none;
      }
    }
    .mobile_breakup {
      row-gap: 0;
      display: none;
      .price {
        margin-bottom: 0;
        color: $base-green;
        font-weight: 400;
        font-size: $text-sm;
        font-weight: 500;
        span {
          color: $black;
        }
      }
      @include tablet {
        display: flex;
      }
    }
    .quantity {
      border: 1px solid $bg-light-gray;
      background-color: #fafafa;
      button {
        border: none;
        background-color: transparent;
        span {
          font-size: $text-sm;
        }
        &:hover {
          span {
            color: $hover-green;
          }
        }
      }
      .count {
        margin-bottom: 0;
        background-color: $white;
        font-size: $text-sm;
        font-weight: 400;
      }
    }
  }
  .pickup_date_container {
    width: 100%;
    :global(.ant-space) {
      width: 100%;
    }
    .heading {
      color: $base-green;
      font-size: $text-sm;
      font-weight: 500;
    }
    .pickup_date {
      flex-wrap: nowrap;
      width: 100%;
      .date {
        font-size: $text-sm;
        color: $base-text;
        span {
          font-weight: 500;
          color: $black;
        }
      }
      .divider {
        min-width: 70%;
        width: 60%;
        span {
          font-weight: normal;
          font-size: $text-xs;
        }
        &::after,
        &::before {
          border-block-start-color: $gray;
          border-block-start-style: dashed;
        }
      }
    }
    .location {
      font-weight: 500;
      :global(.anticon) {
        svg {
          fill: $base-text;
        }
        margin-right: 0.5rem;
      }
    }
  }
  .reminder {
    background-color: #fafafa;
    border: 1px solid $gray;
    border-radius: 0.3rem;
    padding: $space-xs;
    margin-top: 1.8rem;
    .heading {
      font-size: $text-lg;
      font-weight: 500;
    }
    :global(.ant-typography) {
      margin-bottom: 0;
    }
  }
}
