@import "Modules/typography";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
p {
  font-size: 1.6rem;
}
h1.ant-typography {
  font-size: $heading-2xl;
  @include tablet() {
    font-size: $heading-xl;
  }
  @include mobile() {
    font-size: $heading-lg;
  }
}
h2.ant-typography {
  font-size: $heading-xl;
  @include tablet() {
    font-size: $heading-lg;
  }
  @include mobile() {
    font-size: $heading-md;
  }
  @include xs-mobile() {
    font-size: $heading-sm;
  }
}
h3.ant-typography {
  font-size: $heading-lg;
  @include tablet() {
    font-size: $heading-md;
  }
  @include mobile() {
    font-size: $heading-sm;
  }
}
h4.ant-typography {
  font-size: $heading-md;
  @include mobile() {
    font-size: $heading-sm;
  }
}
h5.ant-typography {
  font-size: $heading-sm;
  @include xs-mobile() {
    font-size: $text-xl;
  }
}

.large {
  font-size: $text-lg !important;
}
.medium {
  font-size: $text-sm !important;
}
.small {
  font-size: $text-xs !important;
}
