@import "Modules/typography";
@import "Modules/variables";
@import "AntComponent/table";
@import "AntComponent/heading";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  &::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $gray;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $base-green;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $base-green;
  }
}
p {
  font-size: 1.6rem;
}
.large {
  font-size: $text-lg !important;
}
.medium {
  font-size: $text-sm !important;
}
.small {
  font-size: $text-xs !important;
}
