.layout {
  background: white;

  :global(.ant-layout-header) {
    background-color: transparent;
    padding: 0px 0;
  }
}
.container {
  width: 100%;
  margin: 0 auto;

  @media screen and (min-width: 640px) {
    max-width: 640px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1024px) {
    max-width: 1024px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1024px;
  }

  @media screen and (min-width: 1536px) {
    max-width: 1280px;
  }
}
