@import "/style/Modules/typography";
@import "/style/Modules/mixins";

.layout {
  background: $white;

  :global(.ant-layout-header) {
    background-color: $white;
    padding: 0px 0;
    height: fit-content;
  }
  :global(.ant-layout-content) {
    background-color: $white;
  }
  :global(.ant-layout-footer) {
    background-color: $darkblue_1;
  }
}
.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
  min-height: calc(100vh - 6.4rem);
}
.content {
  margin-top: 6rem;
}
.footer {
  @include tablet {
    padding: 20px 0 !important;
  }
}
