@import "/style/Modules/typography";
.layout {
  background: $white;

  :global(.ant-layout-header) {
    background-color: $whiteSmoke;
    padding: 0px 0;
    height: fit-content;
  }
  :global(.ant-layout-content) {
    background-color: $white;
  }
  :global(.ant-layout-footer) {
    background-color: $darkblue_1;
  }
}
.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
  min-height: calc(100vh - 6.4rem);
}
