@import "/style/Modules/typography";
@import "/style/Modules/mixins";

.layout {
  background: $white;

  :global(.ant-layout-header) {
    background-color: $white;
    padding: 0px 0;
    height: fit-content;
  }
  :global(.ant-layout-content) {
    background-color: $white;
  }
  :global(.ant-layout-footer) {
    background-color: $darkblue_1;
  }
}
.header {
  background-color: $white !important;
  width: 100%;
  z-index: 1000;
  position: sticky;
  top: 0;
  border-bottom: 1px solid $light-gray;
}
.content {
  background: #f5f5f5 !important;
}
.footer {
  @include tablet {
    padding: 20px 0 !important;
  }
}
