@import "/style/Modules/typography";
.about {
  max-width: 1440px;
  :global(.heading) {
    width: 100%;
    min-height: 30rem;
    justify-content: center;

    :global(h2.ant-typography) {
      color: $darkblue_1;
      margin-bottom: 0;
    }
    :global(.para) {
      color: $base-green;
      font-size: 1.7rem;
      margin-bottom: 0;
      letter-spacing: 0.5rem;
      font-weight: 500;
    }
    @include min-tablet {
      min-height: 20rem;
    }
  }
  :global(h3.ant-typography) {
    padding: $space-sm 0;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: $base-green;
    @include tablet {
      text-align: center;
    }
  }
  :global(.intro_container) {
    display: flex;
    justify-content: center;
    align-items: center;
    :global(.para) {
      text-align: center;
      min-width: 20rem;
      font-size: $text-xl;
    }
  }
  :global(.choose_us) {
    :global(.cardRow) {
      gap: 1.5rem;
      :global(.ant-col) {
        text-align: center;
        border: 0.1rem solid $gray;
      }
    }
  }
  :global(.our_team) {
    :global(.ant-flex) {
      gap: 5rem;
      @include mobile {
        gap: 1rem;
      }
    }
    :global(.team_member) {
      text-align: center;
      margin-top: $space-sm;
      :global(.ant-card-body) {
        padding: 1rem 2.4rem;
      }
      span {
        font-size: 1rem;
        color: $base-text;
        letter-spacing: 0.2rem;
      }
      :global(.ant-layout-content) {
        font-size: $text-xs;
      }
      :global(h4.ant-typography) {
        margin: 0.2rem 0;
        font-size: $text-xl;
        color: $base-green;
      }
      :global(.anticon svg) {
        fill: $hover-green;
      }
    }
  }
}

.container {
  padding: $space-sm;
}
