@import "/style/Modules/typography";
.profile_Layout {
  // width: 90%;
  max-width: 1440px;
  padding: $space-sm 0;
  .sidebar {
    min-width: 25% !important;
    width: 25% !important;
    background-color: transparent !important;
    @include tablet {
      min-width: 100% !important;
      width: 100% !important;

      &.hidden {
        display: none;
      }
    }
  }
  .content {
    background-color: $off-white;
    @include tablet {
      min-width: 100% !important;
      width: 100% !important;

      &.hidden {
        display: none;
      }
    }
  }
}
.container {
  padding: $space-xs;
  min-height: 100vh;
  align-items: start;
}
