@import "/style/Modules/variables";
@import "/style/Modules/mixins";

.filterCard {
  border-radius: 0.25rem;
  width: 280px;

  // card header
  :global(.ant-card-head) {
    padding: 0 1rem;

    :global(.ant-card-head-title) {
      font-size: $text-sm;
    }
  }
  // Card img
  :global(.ant-card-cover) {
    overflow: hidden;
    padding: 0;
    img {
      padding: 0;
      border-radius: 0;
    }
  }

  // view package
  :global(.ant-btn-default) {
    position: absolute;
    width: 125px;
    bottom: -1rem;
    left: calc(50% - 66px);
    padding: 0.2rem 0;
    border: $border-thin solid #ebedef;
    border-radius: 2em;
    font-size: $text-xs;
    font-weight: 500;
    color: #212121;
    z-index: 1;
    text-align: center;
  }

  :global(.ant-ribbon-wrapper) {
    right: -1rem;
    top: 0.7rem;
  }

  :global(.ant-card-body) {
    padding: 0;
  }

  // card body
  :global(.card-body) {
    padding: 0;
    height: inherit;
    width: 100%;
    transform-style: preserve-3d;
    transition: 0.5s;
    border-end-start-radius: 0.25rem;
    border-end-end-radius: 0.25rem;
  }

  :global(.flipCard) {
    transform: rotateY(180deg) !important;
  }

  :global(.front-card) {
    background-color: #ffffff;
    height: inherit;
    width: inherit;
    position: absolute;
    backface-visibility: hidden;
    border-end-start-radius: 0.25rem;
    border-end-end-radius: 0.25rem;

    // select box
    :global(.select_box) {
      padding: $space-sm 1rem 0 1rem;
      position: relative;

      :global(.ant-select) {
        position: relative;
      }
      :global(.ant-select-selector) {
        border-radius: 0.125rem;
      }
      :global(label) {
        position: absolute;
        cursor: text;
        position: absolute;
        cursor: text;
        z-index: 1;
        top: 1.3rem;
        left: 2.2rem;
        font-size: 1.2rem;
        background: $white;
        padding: 0 0.5rem;
        color: #999;
        transition: all 0.3s ease;
      }
    }

    // Price section
    :global(.price) {
      display: flex;
      padding: 2rem 1.2rem;
      align-items: center;
      justify-content: space-between;
      p {
        font-size: $text-xl;
        color: $darkblue_2;
        font-weight: 600;
        display: flex;
        flex-direction: column;
        span {
          font-weight: normal;
          font-size: 1rem;
        }
      }
    }

    // Book now button
    :global(.ant-btn-primary) {
      background-color: $darkblue_2;
      color: white;
      padding: 0.25rem 0.8rem;
    }

    // footer
    :global(.footer) {
      display: flex;
      justify-content: space-between;
      font-weight: 500;
      background-color: $darkblue_1;
      color: $white;
      padding: 1.4rem 1rem;
      border-end-start-radius: 0.25rem;
      border-end-end-radius: 0.25rem;
      :global(p) {
        font-size: $text-xs;
      }
    }
  }

  :global(.back-card) {
    background-color: #ffffff;
    height: inherit;
    width: inherit;
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    display: grid;
    text-align: center;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 0;
    border-end-start-radius: 0.25rem;
    border-end-end-radius: 0.25rem;

    :global(.weeks_count) {
      border: $border-thin solid #d5d3d3;
      padding: 1.2rem;

      &:first-child,
      &:nth-child(2) {
        border-top: none;
        border-bottom: none;
      }
      &:first-child,
      &:nth-child(3) {
        border-right: none;
      }
      &:nth-child(3) {
        border-end-start-radius: 0.25rem;
      }
      &:nth-child(4) {
        border-end-end-radius: 0.25rem;
      }
      :global(p) {
        font-size: 1.2rem;
        font-weight: 500;
        color: $blue;
      }
      :global(h3) {
        font-size: 1.4rem;
        font-weight: 500;
        color: #2c3135;
      }
      :global(h4) {
        font-size: 1rem;
        font-weight: 400;
        color: #717171;
      }
    }
  }
}

.ribbon {
  :global(.ant-ribbon-text) {
    font-size: $text-sm;
    font-weight: 400;
    padding: 0;
  }
}
