// @use "../../app/globals.scss" as scss;

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  height: inherit;
  // max-height: 56px;
  z-index: 1000;
  position: fixed;
  top: 0;
  transition: background 0.3s ease-in-out;

  :global(.logo) {
    overflow: hidden;
    img {
      object-fit: contain;
    }
  }
  :global(.nav_items) {
    ul {
      list-style: none;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      li {
        margin: 0 12px;
        font-size: 15px;
        cursor: pointer;
        color: red;
      }
    }
  }
}

.scrolled {
  //   background-color: scss.$font-white;
  background-color: white;
}
