@import "/style/Modules/variables";
@import "/style/Modules/mixins";

.navbar {
  // background-color: $white !important;
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  top: 0;
  transition: background-color 0.3s ease-in-out;

  :global(.ant-col) {
    width: 100%;
  }

  // logo
  :global(.logo) {
    display: flex;
    align-items: center;
    :global(img) {
      @include tablet {
        padding: 0px 20px;
      }
    }
    // hamburger_btn
    :global(.hamburger_btn) {
      display: none;

      @include tablet {
        display: block;
        font-size: $heading-md;
        color: $darkblue_1;
        padding: 0px 20px;
      }
    }
    @include tablet {
      width: 100%;
      justify-content: space-between;
    }
  }

  // nav links
  :global(.nav_items) {
    ul {
      list-style: none;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      li {
        margin: 0 12px;
        color: $black;
        font-size: $text-lg;
        font-weight: 600;
        cursor: pointer;
        a {
          cursor: pointer;
          color: $black;
          font-size: $text-lg;
          font-weight: 600;
          &:hover {
            color: $base-green;
          }
        }
        .profile_dropdown {
          :global(.ant-space-item) {
            cursor: pointer;
            color: $black;
            font-size: $text-lg;
            font-weight: 600;
          }
        }
      }
    }
    @include tablet {
      width: 100%;
      background: $darkblue_1;
      height: 0;
      transition: all 0.3s ease-in-out;

      ul {
        display: none;
      }
    }
  }

  @include tablet {
    flex-direction: column;
    align-items: start;
    padding: 0;
  }
}
.container {
  padding: 1rem;
  @include tablet {
    flex-direction: column;
    align-items: start;
    padding: 0;
  }
}
.logoH {
  margin: auto 0;
  display: block;
}
