@import "../../../style/Modules/typography";

.sideNavbar {
  :global(.ant-drawer-wrapper-body) {
    background-color: $darkblue_1;
  }
  :global(.ant-drawer-header) {
    border-bottom: 1px solid $darkblue_2;
  }
  :global(.ant-drawer-header-title) {
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  :global(.ant-drawer-close) {
    svg {
      fill: $white;
      font-size: 2.5rem;
    }
  }

  :global(ul) {
    list-style: none;
    color: $white;
    li {
      margin: 1rem 0;
      font-size: 18px;
      font-weight: 400;
      a {
        color: $white;
      }
    }
  }
}
