@use "/style/Modules/typography";

.ant-table-wrapper {
  .ant-table {
    border-radius: 0;
  }
  .ant-table-container {
    border-start-start-radius: 0px;
    border-start-end-radius: 0px;
    table,
    .ant-table-tbody td,
    th {
      border: 0.05rem solid black !important;
      border-radius: 0;
      @include xs-mobile() {
        font-size: 12px;
      }
    }
    table > thead > tr:first-child > th {
      background: $base-green;
      border-radius: 0 !important;
      border-right-width: 0;
      color: white;
      @include xs-mobile() {
        padding: 0.5rem;
      }
      &:before {
        display: none;
      }
    }
    .ant-table-tbody > tr > td {
      @include xs-mobile() {
        padding: 0.5rem;
      }
    }
  }
}
