@import "/style/Modules/typography";

.container {
  height: calc(100vh - 6.4rem);
}
.main {
  height: 100%;
  position: relative;
  z-index: 1;
  .left {
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    padding: $space-2xl;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    padding-top: 0;
    @include tablet() {
      padding: $space-2xl $space-2xl;
    }
    @include mobile() {
      padding: $space-lg;
    }
    @include xs-mobile() {
      padding: $space-sm;
    }
  }
  .right {
    padding: 0;
    width: 100%;
    .img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include mobile() {
        // filter: blur(0.3rem);
      }
    }
    @include min-tablet() {
      position: absolute;
      z-index: -1;
      height: 50%;
    }
  }
}
