@import "/style/Modules/typography";

.container {
  height: $screen;
}
.main {
  height: 100%;
  position: relative;
  z-index: 1;
  .left {
    width: 100%;
    justify-content: center;
    margin: 0 auto;

    padding-bottom: 0;
    display: flex;
    align-items: center;
    padding-top: 0;
    @include tablet() {
      padding: $space-2xl $space-2xl;
    }
    @include mobile() {
      padding: $space-lg;
    }
    @include xs-mobile() {
      padding: $space-sm;
    }
  }
  .right {
    position: absolute;
    z-index: -1;
    padding: 0;
    width: 100%;
    height: 100%;
    .img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(60%);
    }
  }
}
