@import "/style/Modules/variables";
@import "/style/Modules/mixins";

.bike_rental_search {
  min-height: 100vh;

  :global(.ant-layout-content) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    gap: $space-md;
    padding: $space-xl;
    background-color: whitesmoke;
  }
}
