@import "/style/Modules/variables";
@import "/style/Modules/mixins";

.bike_rental_search {
  min-height: 100vh;

  :global(.ant-layout-sider) {
    @include mobile {
      display: none;
    }
  }
  :global(.ant-layout-content) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    gap: $space-md;
    padding: $space-xl;
    background-color: whitesmoke;
    min-height: 100vh;
  }
}
