@import "/style/Modules/typography";

.city {
  min-height: $screen;
  @include mobile() {
    padding: $space-lg $space-lg;
  }
  @include xs-mobile() {
    padding: $space-sm;
  }
  position: relative;
  .header {
    height: fit-content;
    line-height: inherit;
    background: white;
    position: sticky;
    top: 0;
    z-index: 11111;
    padding: $space-sm;
  }
  .sider {
    @include mobile {
      display: none;
    }
  }
  .content {
    padding: $space-xl;
    height: 100%;
    display: flex;
    gap: 2rem 1.2rem;
    flex-wrap: wrap;
    @include tablet {
      padding: 0;
      justify-content: center;
    }
  }
}
