@import "/style/Modules/typography";

.city {
  max-width: 1440px;
  min-height: $screen;
  position: relative;

  .sider {
    background: white;
    height: 100%;
    border: 1px solid $gray;
    @include tablet {
      display: none;
    }
  }
  .content {
    padding: 0 $space-xs $space-xs;
    height: 100%;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    background-color: transparent;
    @include tablet {
      padding: 0;
      margin-bottom: 8rem;
    }
  }
}
.container {
  padding: $space-xs;
}
