@import "/style/Modules/typography";

.city {
  min-height: $screen;
  padding: $space-2xl;
  position: relative;

  @include mobile() {
    padding: $space-lg $space-lg;
  }
  @include xs-mobile() {
    padding: $space-sm;
  }
  :global(.ant-layout-has-sider) {
    margin-top: 12rem;
  }
  .sider {
    background: white;
    border: 1px solid $gray;
    @include tablet {
      display: none;
    }
  }
  .content {
    padding: 0 $space-xs $space-xs;
    height: 100%;
    display: flex;
    gap: 2rem 1.2rem;
    flex-wrap: wrap;
    background-color: transparent;
    @include tablet {
      padding: 0;
      justify-content: center;
    }
  }
}
