@import "/style/Modules/typography";

.checkout {
  min-height: $screen;
  padding: $space-2xl;
  position: relative;
  background-color: $white;
  @include mobile() {
    padding: $space-lg;
  }
  @include xs-mobile() {
    padding: $space-sm;
  }
  .header {
    h5 {
      margin-bottom: 0;
    }
  }
  .sider {
    background: white;
    border: 1px solid $bg-light-gray;
    // @include tablet {
    //   display: none;
    // }
  }
  .content {
    padding: $space-xs;
    height: 100%;
  }
}
