@import "/style/Modules/typography";
.container {
  min-height: calc(100vh - 6.4rem);
  .main {
    height: inherit;
    margin-bottom: $space-2xl;
    gap: 2rem;
    margin-top: 10rem;
  }
  .header {
    h5 {
      margin-bottom: 0;
      font-size: $text-xl;
    }
  }
  .header,
  .left,
  .right {
    padding: $space-2xl;
    padding-bottom: 0;
    @include mobile() {
      padding: $space-lg !important;
    }
    @include xs-mobile() {
      padding: $space-sm !important;
    }
  }
  .left {
    border-right: 1px solid $bg-light-gray;
  }
  .right {
    padding-left: 0;
    @include tablet() {
      padding-left: $space-2xl;
    }
  }
}
