@import "/style/Modules/typography";

.main {
  height: inherit;
  margin-bottom: $space-2xl;
  margin-top: 12rem;
}
.left,
.bottomOne,
.right {
  padding: $space-2xl;
  padding-bottom: 0;
  @include mobile() {
    padding: $space-lg !important;
  }
  @include xs-mobile() {
    padding: $space-sm !important;
  }
}
.right {
  padding-left: 0;
  @include tablet() {
    padding-left: $space-2xl;
  }
}
