@import "/style/Modules/typography";

.main {
  height: inherit;
  margin-bottom: $space-2xl;
  margin-top: 6rem;
  max-width: 1440px;
  .left,
  .bottomOne,
  .right {
    padding-right: $space-2xl;

    @include tablet() {
      padding: $space-lg 0;
    }
    @include xs-mobile() {
      padding: $space-sm 0;
    }
  }
  .right {
    padding: 0;
  }
  @include large-desktop() {
    padding: $space-md;
    margin-top: 0;
  }
}
