@import "/style/Modules/typography";
.footer {
  width: 100%;
  display: grid !important;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  padding: 2rem;
  :global(.links) {
    font-size: $text-sm;
    // font-weight: 500;
    color: $whitesmoke;
    ul {
      list-style: none;
      li {
        padding-bottom: 12px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover {
          color: $base-green;
        }
      }
    }
  }
  :global(.logo) {
    img {
      @include tablet {
        width: 84px;
        height: 36px;
        margin-bottom: 1rem;
      }
    }
  }
  @media screen and (max-width: 968px) {
    padding: 0rem;
    display: flex !important;
    flex-direction: column !important;
    align-items: center;

    :global(.ant-col) {
      width: 90%;
    }
    :global(.links) {
      margin-bottom: 10px;
      font-size: 16px;
      width: 90%;
      // ul {
      //   li {
      //     text-align: center;
      //   }
      // }
    }
  }
}
