@import "/style/Modules/variables";
@import "/style/Modules/mixins";
.profile_edit_section {
  padding: 1.2rem 3.6rem;

  :global(.profile_details_header) {
    border-bottom: 1px solid $light-gray;
  }

  :global(h5.ant-typography) {
    margin-bottom: 0;
  }
  :global(div.ant-typography) {
    color: $dark-gray;
    font-size: 1.6rem;
  }

  //Profile Edit
  :global(.profile_details_body) {
    // Container for input section
    :global(.profile_input_wrap) {
      padding: 1.2rem 0;
      border-bottom: 1px solid $light-gray;

      //   edit btn and label
      label {
        font-size: $text-sm;
        color: $dark-gray;
        font-weight: 500;
        margin-bottom: 0.5rem;
      }

      // value of field
      p {
        font-size: $text-sm;
        font-weight: 400;
        margin: 1rem 0;
      }
    }
  }
}
