@import "/style/Modules/typography";
.profile_edit_section {
  // profile header
  .profile_header {
    padding: $space-xs;
    width: 100%;
    .left_arrow {
      display: none;
      @include tablet {
        display: inline;
        font-size: $text-lg;
      }
    }
    .heading {
      h5 {
        margin-bottom: 0;
        font-size: $heading-sm;
      }
      span {
        color: $base-gray-text;
        font-size: $text-lg;
      }
    }
    @include tablet {
      padding: 0;
    }
  }

  //Profile Edit
  .profile_details_body {
    .flex_box {
      display: flex;
      padding: 0 $space-xs;
      :global(.ant-col) {
        display: flex;
        justify-content: space-between;

        .field_value {
          font-size: $text-lg;
        }
        p {
          font-size: $text-lg;
          color: $base-text;
          font-weight: 400;
        }
        .edit_btn {
          border: none;
          padding: 0;
          color: $base-green;
          font-weight: 500;
          cursor: pointer;
        }
      }
      .input_form {
        margin-top: 1rem;
        :global(.ant-input) {
          position: static;
        }
      }
    }

    // mobile field
    .profile_input_wrap {
      padding: 0 $space-sm;
      span {
        font-size: $text-lg;
        color: $base-text;
        font-weight: 400;
      }
      // value of field
      p {
        font-size: $text-lg;
        font-weight: 400;
        margin: 1rem 0;
      }
    }
  }

  @include tablet {
    padding: 1.2rem 1.6rem;
  }
}
