/*
 - font size 
 - color of variables
 - responsive
*/

// padding & endpoints
$padding: 50px;
$padding-mobile: 22px;
$desktop: 1024px;
$tablet: 994px;
$mobile: 600px;

// colors
$orange: #fc7012;
$darkOrange: #d15604;
$gray: #d9d9d9;
$darkgray: #ccc;
$black: #212121;
$white: #fff;

// mixins
@mixin mobile {
  @media screen and (max-width: #{$mobile}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: #{$tablet}) {
    @content;
  }
}

@mixin desktop {
  @media screen and (max-width: #{$desktop}) {
    @content;
  }
}

// Typography
h1 {
  font-size: 2.125rem; //34px
  font-weight: bold;
  line-height: 1;
  @include mobile() {
    font-size: 1.5rem; //24px
  }
}

h2 {
  font-size: 1.875rem; //30px
  font-weight: 600;
  line-height: 1.067; //32px;

  @include mobile() {
    font-size: 1.125rem; //18px
  }
}

h3 {
  font-size: 1.5rem; //24px
  font-weight: 500;
  line-height: 1.083; //26px
  @include mobile() {
    font-size: 1.125rem; //18px
  }
}

h4 {
  font-size: 1.25rem; //20px
  line-height: 1.1; //22px
  font-weight: 500;
}
