@import "/style/Modules/typography";

.profile_input_wrap {
  padding: $space-sm;
  border-bottom: 1px solid $light-gray;

  //   edit btn and label
  .field_header {
    display: flex;
    justify-content: space-between;
    span {
      font-size: $text-lg;
      color: $base-text;
      font-weight: 400;
    }
    .edit_btn {
      background-color: transparent;
      border: none;
      padding: 0;
      :is(:hover) {
        background-color: transparent;
        border: none;
      }
      span {
        color: $base-green;
        font-weight: 500;
        font-size: $text-lg;
      }
    }
  }

  // value of field
  p {
    font-size: $text-lg;
    font-weight: 400;
    margin-bottom: 0.5rem;
  }

  // Edit input fields
  .profile_input_edit {
    margin-top: 1rem;

    .save_btn {
      background-color: $base-green;
      color: $white;
      &:hover {
        border: none;
        color: $white;
      }
    }
  }

  &:last-child {
    border-bottom: none;
  }

  .profile_input_wrap {
    padding: $space-sm;
    border-bottom: 1px solid $light-gray;

    //   edit btn and label
    .field_header {
      display: flex;
      justify-content: space-between;
      span {
        font-size: $text-lg;
        color: $base-text;
        font-weight: 400;
      }
      .edit_btn {
        background-color: transparent;
        border: none;
        padding: 0;
        :is(:hover) {
          background-color: transparent;
          border: none;
        }
        span {
          color: $base-green;
          font-weight: 500;
          font-size: $text-lg;
        }
      }
    }

    // value of field
    p {
      font-size: $text-lg;
      font-weight: 400;
      margin-bottom: 0.5rem;
    }

    // Edit input fields
    .profile_input_edit {
      margin-top: 1rem;

      .save_btn {
        background-color: $base-green;
        color: $white;
        &:hover {
          border: none;
          color: $white;
        }
      }
    }

    &:last-child {
      border-bottom: none;
    }
  }
}
