@import "/style/Modules/typography";
.card {
  width: 100%;
  text-align: center;
  padding: $space-sm;
  position: relative;
  h1 {
    margin-bottom: 0 !important;
  }
  svg {
    font-size: $heading-2xl;
    fill: $base-green;
    margin: 0 1rem;
    @media screen and (max-width: 575px) {
      font-size: $heading-xl;
    }
  }
  .title {
    p {
      @media screen and (max-width: 575px) {
        display: inline-block;
        &:first-child {
          margin-right: 1rem;
        }
        font-size: $text-sm !important;
        position: relative;
        &:after {
          position: absolute;
          content: ":";
        }
        margin-bottom: 0.5rem;
      }
    }
  }
  .subTitle {
    font-size: 2rem;
    color: $base-green;
    @media screen and (max-width: 575px) {
      font-size: $text-sm !important;
    }
  }
  .tooltip {
    position: absolute;
    top: 10%;
    right: 5%;
    font-size: 2rem;
    color: $bg-light-gray;
    fill: $gray !important;
    @media screen and (max-width: 575px) {
      display: none;
    }
    cursor: pointer;
  }
  .content {
    display: none;
  }
  @media screen and (max-width: 575px) {
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    text-align: left !important;
    .content {
      display: inline;
      width: 100%;
      font-size: 1.2rem;
    }
  }
}
