@import "/style/Modules/variables";
@import "/style/Modules/mixins";

.card {
  padding: $space-2xl;
  box-shadow: 0 0.5rem 0.5rem 6px rgba(0, 0, 0, 0.05);
  :global(.ant-card-body) {
    padding: 0 !important;
  }
  @include tablet() {
    padding: $space-xl;
  }
  @include mobile() {
    padding: $space-lg;
  }
  @include xs-mobile() {
    padding: $space-md;
  }
}

.select {
  height: fit-content;

  :global(.ant-select-selector) {
    border-radius: 0;
    padding: 1rem !important;
    font-size: $text-xl;
    @include tablet() {
      font-size: $text-lg;
    }
    @include xs-mobile() {
      font-size: $text-sm;
    }
  }
  :global(.ant-select-arrow) {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 50% !important;
    transform: translateY(-20%) !important;
    svg {
      display: none;
    }
    :after {
      content: "";
      width: 2rem;
      height: 2rem;
      position: absolute;
      background: url("/select-city-icon.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}
.input {
  border-radius: 0;
  padding: 1rem !important;
  width: 100%;
  :global(.ant-picker-input) {
    input {
      font-size: $text-xl;
      @include tablet() {
        font-size: $text-lg;
      }
      @include xs-mobile() {
        font-size: $text-sm;
      }
    }
  }
}
.greenIcon {
  :global(.ant-picker-suffix) {
    svg {
      width: 2rem;
      height: 2rem;
      fill: #9c3;
    }
  }
}
.redIcon {
  :global(.ant-picker-suffix) {
    svg {
      width: 2rem;
      height: 2rem;
      fill: red;
    }
  }
}
.submit {
  height: auto !important;
  background: #9c3;
  color: white;
  padding: 0.5rem 2rem;
  font-size: $text-xl;
  @include tablet() {
    font-size: $text-lg;
  }
  @include xs-mobile() {
    font-size: $text-sm;
  }
}
.form {
  padding: 0;
  margin-top: 1rem;
  :global(.ant-form-item:last-child) {
    margin-bottom: 0;
  }
}
