@import "/style/Modules/variables";
@import "/style/Modules/mixins";

.card {
  max-width: 650px;
  padding: $space-lg;
  box-shadow: 0 0.5rem 0.5rem 6px rgba(0, 0, 0, 0.05);
  :global(.ant-card-body) {
    padding: 0 !important;
  }
  @include tablet() {
    padding: $space-md;
    max-width: none;
  }
  @include mobile() {
    padding: $space-sm;
    max-width: none;
  }
  @include xs-mobile() {
    padding: $space-xs;
  }
}

.select {
  height: fit-content;

  :global(.ant-select-arrow) {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 50% !important;
    transform: translateY(-20%) !important;
    svg {
      display: none;
    }
    :after {
      content: "";
      width: 2rem;
      height: 2rem;
      position: absolute;
      background: url("/select-city-icon.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

.input {
  border-radius: 0;
  width: 100%;
}
.greenIcon {
  :global(.ant-picker-suffix) {
    svg {
      width: 2rem;
      height: 2rem;
      fill: $base-green;
    }
  }
}
.redIcon {
  :global(.ant-picker-suffix) {
    svg {
      width: 2rem;
      height: 2rem;
      fill: $dark-red;
    }
  }
}
.submit {
  height: auto !important;
  background: $base-green;
  color: white;
  padding: 0.5rem 2rem;
  font-size: $text-xl;
  @include tablet() {
    font-size: $text-lg;
  }
  @include xs-mobile() {
    font-size: $text-sm;
  }
}
.form {
  padding: 0;
  margin-top: $space-lg;
  :global(.ant-form-item:last-child) {
    margin-bottom: 0;
  }
}
